*{margin: 0;
padding: 0;}
body{background-color:#eee ;}

#zed{font-size: 30px;}
#old{font-size: 30px;}

h5{ font-size: 30px;
font-family: Arial, Helvetica, sans-serif;}

h5 span{color: red;}

#cop{border-bottom-style: solid;
border-bottom-color: red;}

nav{width:100% ;
height: 100px;
float: inline-start;
padding-bottom: 40px;
background-color: #fff;}

ul{margin-right: 60px;}

ul li{list-style: none;
display: inline-block;
line-height: 100px;
float:right;}

ul li a{ display: inline-block; 
text-decoration: none;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
color: #1e1e1e;
padding:0 15px;}

ul li a:hover{color: red;}

h1{ font-size: 60px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 200;
margin: auto;
padding-right:40px;
text-align:left;
padding-top:-270px;}

#why{background-image: url(file:///C:/Users/HP/Desktop/Documents/intro-component-with-signup-form-master/design/laptop%20picture.png);
height: 600px;
width:100%;
background-size: cover;
background-repeat: no-repeat;}

h2{font-size:40px;
text-align: center;
padding: 250px ;}

#cep{ background-color: gray;
height:70px;
width: auto;}

#cep text{ font-size: 55px;}

#cep input{float:right;
height: 25px;
width:auto; }

#cep button{ float: right;
padding-right: 15px;
height: 25px;}

.bottom{ margin-top: 25px;
display: flex;
text-align: center;
justify-content: space-around;}

.bottom.container{ padding-left: 20px;
padding-right: 20px;}

.container{ display: inline;}
footer{margin-top: 0px;
background-color: #ff571d;
text-align: center;
font-size: 40px;}

h1{padding-leftt: 30px;}

h1 span{color: orangered;}

ul li{ list-style: none;}

ul li a{padding-right: 200px;
color:#ff1e1e;
text-decoration: underline;}


button{background-color: #ff1e1e;}
